nav{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 30px 40px;
    background-color:rgb(22, 50, 91);
    margin-left: 0px;
  }
  
  .navbar{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .navbar li{
    list-style: none ;
    padding: 0 20px ;
    position: relative ;
  }
  .navbar li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: rgb(167, 230, 255);
    transition: 0.3s ease-in-out;
  }
  
  .navbar li a:hover,
  .navbar li a.active{
    color:  rgb(255, 220, 127);
  }
  
  .navbar li a:hover::after,
  .navbar li a.active::after{
    content: "";
    width: 30%;
    height:2px;
    background: rgb(58, 190, 249);
    position: absolute;
    bottom:-2px;
    left:20px;
  }
  
  .logoImg{
  
    padding: 10px;
  
  }
  .logo{
    font-size: xx-large;
    font-style: bold;
    text-decoration: none;
    color: rgb(167, 230, 255) ;
  }
  
  /*footer*/
   .footer {
    background-color:rgb(22, 50, 91);
    
  }
  
  .footer h2 {
    margin-left: 40%;
    margin-top: 3%;
    font-weight: 800;
    font-size: 1.7rem;
    color: rgb(167, 230, 255);
  
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .footer-section {
        width: 40%;
        color: rgb(167, 230, 255);
        margin:2%;
        margin-left: auto;
   
  }
  
  .footer-section h2 {
    margin-top: 20px;
    margin-left: 0;
    align-items: center;
  }
  
  .footer-section h3 {
    margin-bottom: 20px;
    margin-left: 4%;
  }
  
  
  
  .Address {
    display: flex;
    text-align: center;
    margin-top: 10px;
    align-items: center;
    padding-right: 2%;
  }
  
  
  .socialMediaIcons{
  margin-left:25%;
  }
  
  .socialMediaIcons a {
    color: rgb(167, 230, 255);
    font-size: 75px; 
    margin: 1%;
   
  }
  
  .socialMediaIcons a:hover {
    color: rgb(255, 220, 127);
  }
  
  
  .notfound{
    border: 2px solid silver;
    box-shadow: 5 5px 16px 0 rgb(217, 230, 230);
    text-align: center;
    padding: 10px;
    height: 480px;
  }
  
  